:root {
  --primary: #4ade80;
  --primary50: #13eb6280;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --light2: #edf2f7;
  --sidebar-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: var(--light);
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.app {
  display: flex;

  main {
    flex: 1 1 0;
    padding: 2rem;

    @media (max-width: 768px) {
      padding-left: 6rem;
    }
  }
}

.but {
  background: var(--dark);
  border: 0;
  padding: 10px 20px;
  color: var(--light);
  border-radius: 20px;
  cursor: pointer;
}

#profile_icon {
  font-size: 132px;
}
.profile_card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  width: 100%;
  text-align: center;
  border-radius: 16px;
  overflow: hidden;
  margin-top: 16px;
  background-color: var(--light2);
}
.profile_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}